@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center   asdasdadasdasd" >
    <h1 class="display-4">Intento ASP.NET</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div class ="mx-auto"style ="width:30em; height:20em">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjBKg4ZjnW5Sc7yzOuql7K1sQionEKoSHl5Fj8ZxOgapeL__msuFz3G-47JIECaWTbpQU&usqp=CAU" class="d-block w-100" alt="..." style="max-width:100%;">
        </div>
        <div class="carousel-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPdSoVBxOuSFVDvWIAsgxz5-Qxk3xBBN_PIg&usqp=CAU" class="d-block w-100" alt="..." style="max-width:100%;">
        </div>
        <div class="carousel-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnH9MH3MGx0_SIgTmwg-FPG96HZ1TifGzQTV4WGdhBDO5CucvdIum0HHIziz92rUwWtEQ&usqp=CAU" class="d-block w-100" alt="..." style="max-width:100%; ">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>

    <div class="t1" style="display:inline-block; width:20em;height:10em;">
        <p style="max-height:100%; overflow:auto;"> 
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
</div>


<div class="I1" style="display:inline-block;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL6UTQjov2Ju_oPbj7X8Kr-s7xNyb-TWfLoQ&usqp=CAU">
</div>
<div class="t2" style="display:inline-block; width:20em;height:10em; ">
        <p style="max-height:100%; overflow:auto;">
        ¿Por qué lo usamos?
        Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a propósito (por ejemplo insertándole humor y cosas por el estilo).
    </p>
</div>
<div class="I2" style="display:inline-block;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjHTF3WL557YX34jYvIbg16NLdocy91OmyaA&usqp=CAU " style="position:relative;">
</div>
 
</div>

